@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../font/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Gilroy-Bold.woff2") format("woff2");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.img-box img,
.img-box svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.alg-cen {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.alg-str {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flx-colm-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

body.lock {
  overflow: hidden;
}

.main__content {
  padding-top: 30px;
  padding-bottom: 60px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-title,
.title,
.sub-title,
.smaller-title,
.cap {
  color: #323264;
}

.title {
  font: 700 30px/37px "Montserrat";
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.paragraph,
.article-text {
  color: #000000;
}

.article-text {
  font: 400 19px/30px "Montserrat";
}

.item a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-upper a {
  font: 700 12px/15px "Montserrat";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.icon a {
  font-size: 0;
}

.icon svg:hover path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #F0145A;
}

.phone a {
  font: 700 16px/20px "Montserrat";
}

address {
  font: 400 16px/20px "Montserrat";
}

nav .item:not(:last-of-type)::after {
  content: "";
  display: none;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  margin: 0 6px;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

.modal-backdrop {
  background: rgba(50, 50, 100, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.modal-backdrop .modal-wrapper {
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  padding: 19px 12px 12px;
  margin: 0 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop .modal-wrapper .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 27px;
}

.modal-backdrop .modal-wrapper .modal-close {
  position: relative;
  cursor: pointer;
  width: 27px;
  height: 27px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 5px;
}

.modal-backdrop .modal-wrapper .modal-close::before,
.modal-backdrop .modal-wrapper .modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -15%;
  width: 35px;
  height: 2px;
  background: #EC6F5D;
}

.modal-backdrop .modal-wrapper .modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-backdrop .modal-wrapper .modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-backdrop .modal-wrapper .modal-body {
  text-align: center;
}

.modal-backdrop .modal-wrapper .modal-body .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 15px;
}

.modal-backdrop .modal-wrapper .modal-body .menu li {
  background: #F5F5FA;
  border-radius: 12px;
  padding: 7px 0;
}

.modal-backdrop .modal-wrapper .modal-body .menu li a {
  color: #24A3FF;
  font: 700 24px/29px "Montserrat";
}

.modal-backdrop .modal-wrapper .modal-body .menu li.active,
.modal-backdrop .modal-wrapper .modal-body .menu li:active,
.modal-backdrop .modal-wrapper .modal-body .menu li:hover {
  background: #E6E6F0;
}

.modal-backdrop .modal-wrapper .modal-body .menu li.current a {
  color: #F0145A;
}

.active .modal-backdrop {
  display: block;
}

.header__item {
  width: 100%;
}

.header__item:first-of-type {
  background: #F5F5FA;
  padding: 10px 0;
}

.header__item .header__nav .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__item .header__nav .breadcrumbs > li {
  color: #B3B3BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__item .header__nav .breadcrumbs > li:nth-of-type(even) {
  display: none;
}

.header__item .header__nav .breadcrumbs li a {
  color: #B3B3BA;
}

.header__item .header__nav .breadcrumbs li a:hover {
  color: #323264;
}

.header__item .header__nav .breadcrumbs li .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__item .header__nav .breadcrumbs li .lang a {
  padding: 5px 7px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__item .header__nav .breadcrumbs li .lang a:hover {
  background: #F5F5FA;
  color: #B3B3BA;
}

.header__item .header__nav .breadcrumbs li .lang .active a {
  background: #F0145A;
  color: #FFFFFF;
}

.header__item:nth-of-type(2n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__item:nth-of-type(2n) .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0 9px 0;
}

.header__item:nth-of-type(2n) .header__logo .logo {
  max-width: 88px;
}

.header__item:nth-of-type(2n) .header__logo .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-column-gap: 4 px;
  -moz-column-gap: 4 px;
  column-gap: 4 px;
}

.header__item:nth-of-type(2n) .header__logo .current-page a {
  font: 400 20px/24px "Montserrat";
  color: #323264;
  text-transform: lowercase;
}

.header__item:nth-of-type(2n) .header__burger {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.header__item:nth-of-type(2n) .header__burger.active {
  background: #E6E6F0;
}

.header__item:nth-of-type(2n) .header__burger::before,
.header__item:nth-of-type(2n) .header__burger::after {
  background: #323264;
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header__item:nth-of-type(2n) .header__burger::before {
  top: 9px;
}

.header__item:nth-of-type(2n) .header__burger::after {
  bottom: 9px;
}

.header__item:nth-of-type(2n) .header__burger span {
  background: #323264;
  position: absolute;
  left: 50%;
  width: 18px;
  height: 2px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__menu {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.header__list .header__list-item a {
  font: 700 16px/20px "Montserrat";
  color: #24A3FF;
  display: block;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__list .header__list-item a:hover {
  border-bottom: 2px solid #24A3FF;
}

.header__list .header__list-item a.is-active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.header__list .header__list-item a.is-active:hover {
  border-bottom: 2px solid #F0145A;
}

.tab-btn {
  font: 700 16px/20px "Montserrat";
  color: #24A3FF;
  display: block;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tab-btn:hover {
  border-bottom: 2px solid #24A3FF;
}

.tab-btn.is-active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.tab-btn.is-active:hover {
  border-bottom: 2px solid #F0145A;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 30px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.article section.aside {
  padding-left: 26px;
}

.article.article__bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse wrap;
  flex-flow: column-reverse wrap;
}

.article h1 {
  margin-bottom: 28px;
}

.article .article-text span.indent {
  display: block;
  padding-bottom: 20px;
}

.article h2 {
  margin-left: -26px;
}

.article .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 40px;
  padding-left: 8px;
}

.article .summary__item {
  color: #323264;
  font: 400 16px/20px "Montserrat";
}

.article .summary__item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  margin-bottom: 10px;
}

.article .summary__item__top span {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font: 700 36px/44px "Montserrat";
}

.main__img {
  position: relative;
  padding: 30px 0;
}

.main__img span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font: 700 36px/44px "Montserrat";
  letter-spacing: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  font-size: calc(36px + 10 * (100vw - 375px) / 393);
  letter-spacing: calc(13px + 50 * (100vw - 375px) / 393);
  max-width: 328px;
}

.main__img span::-moz-selection {
  background: transparent;
}

.main__img span::selection {
  background: transparent;
}

.vertical-stripe {
  position: relative;
}

.vertical-stripe::before {
  background: #E6E6F0;
  content: "";
  position: absolute;
  left: -26px;
  width: 4px;
  height: 100%;
}

.slider-wrapper {
  background: #F5F5FA;
  width: 100%;
}

.slider-wrapper .slider,
.slider-wrapper .slick-list {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.slider-wrapper span {
  font: 700 14px/17px "Montserrat";
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  color: #323264;
}

.slider-wrapper .slick {
  padding: 0 45px;
}

.slider-wrapper .slide {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-wrapper .slide img {
  max-height: 40px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.slick-dots button {
  background: #24A3FF;
  border: none;
  font-size: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  opacity: 0.2;
  cursor: pointer;
}

.slick-dots button:hover {
  opacity: 0.6;
}

.slick-dots .slick-active button {
  opacity: 1;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-block h1 {
  margin-bottom: 30px;
}

.team-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  row-gap: 30px;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-block__item {
  max-width: 500px;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 15px;
}

.team-card__header img {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}

.team-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 5px;
}

.team-card__name {
  font: 700 16px/20px "Montserrat";
  color: #323264;
}

.team-card__name:hover {
  color: #F0145A;
}

.team-card__spec {
  font: 400 14px/22px "Montserrat";
  color: #B3B3BA;
}

.team-card__link {
  display: block;
  background: #F5F5FA;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-card__link:hover {
  background: #EDEDF7;
}

.team-card__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid #24A3FF;
  -webkit-transform: translate(-70%, -50%) rotate(-45deg);
  -ms-transform: translate(-70%, -50%) rotate(-45deg);
  transform: translate(-70%, -50%) rotate(-45deg);
  width: 9.899px;
  height: 9.899px;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-card__link:hover::before {
  border: solid #F0145A;
  border-width: 0 2px 2px 0;
}

.footer {
  background: #F5F5FA;
  width: 100%;
}

.footer .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 30px;
  border-top: 2px solid #E6E6F0;
  padding: 30px 0;
}

.footer .footer__items .footer__item {
  text-align: center;
}

.footer .footer__items .footer__item .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 21px;
}

.footer .footer__items .footer__item .footer__nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 10px;
}

.footer .footer__items .footer__item .footer__nav ul a {
  color: #323264;
}

.footer .footer__items .footer__item .footer__nav ul a:hover {
  color: #323264;
}

.footer .footer__items .footer__item .footer__nav ul .link-upper a,
.footer .footer__items .footer__item .footer__nav ul .link a {
  color: #24A3FF;
}

.footer .footer__items .footer__item .footer__nav ul .link-upper a:hover,
.footer .footer__items .footer__item .footer__nav ul .link a:hover {
  color: #F0145A;
}

.footer .footer__items .footer__item .footer__nav ul .link a {
  font: 700 16px/20px "Montserrat";
}

.footer .footer__items span {
  color: #B3B3BA;
  font: 400 16px/20px "Montserrat";
}

@supports (-webkit-appearance:none) {

}

@media (min-width: 768px) {
  .main__content {
    padding-top: 60px;
  }

  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .title {
    font: 700 38px/46px "Montserrat";
  }

  nav .item:not(:last-of-type)::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    row-gap: 30px;
  }

  .header__item:first-of-type {
    background-color: transparent;
    padding: 0;
  }

  .header__item .header__nav .breadcrumbs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .header__item .header__nav .breadcrumbs > li:nth-of-type(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__item:nth-of-type(2n) .header__logo {
    padding: 0;
  }

  .header__item:nth-of-type(2n) .header__logo .logo {
    min-width: 159px;
  }

  .header__item:nth-of-type(2n) .header__logo .current-page a {
    font: 400 36px/44px "Montserrat";
  }

  .header__item:nth-of-type(2n) .header__burger {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .article {
    padding-left: 0;
    padding-right: 0;
  }

  .article section.aside {
    min-width: 388px;
  }

  .main__img {
    padding: 60px 0;
  }

  .main__img span {
    max-width: 478px;
    letter-spacing: 63px;
    font-size: calc(46px + 40 * (100vw - 768px) / 256);
  }

  .slider-wrapper .slick {
    padding: 0;
  }

  .slick-track {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .slick-track::before,
  .slick-track::after {
    display: none;
  }

  .team-block__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
  }

  .footer .footer__items .footer__item .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer .footer__items .footer__item .footer__nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 768px) and (min-width: 1920px) {
  .container {
    padding-left: 160px;
    padding-right: 160px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 768px) and (min-width: 1024px) {
  .header {
    position: relative;
    row-gap: 8px;
  }

  .header__item .header__nav .breadcrumbs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .main__img span {
    font-size: calc(86px + 10 * (100vw - 1024px) / 416);
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 768px) and (min-width: 1440px) {
  .article {
    padding-left: 120px;
    padding-right: 120px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1440px) {
  .main__img span {
    font-size: 96px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 1024px) {
  .header__item:nth-of-type(2n) .header__logo {
    position: absolute;
  }

  .header__list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .article.article__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .article.article__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .article h2 {
    margin-left: 0;
  }

  .slider-wrapper .slide img {
    max-height: 60px;
  }

  .team-block h1 {
    padding-left: 120px;
    padding-right: 120px;
  }

  .team-block__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 28%;
    flex: 1 1 28%;
  }

  .footer .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer .footer__items .footer__item {
    text-align: right;
    width: 50%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 1440px) {
  .article .article-text span.br::before {
    content: " ";
    white-space: break-spaces;
  }

@supports (-webkit-appearance:none) {

}
}